/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #fff;
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
    color: #2c2d30;
  }
