<!-- AsideBar -->
<div id="myAside" class="aside">
  <a href="javascript:void(0)" class="closebtn" (click)="closeAside()">&times;</a>
  <div class="aside-content">
    <p>
      AsideBar Content
    </p>

  </div>
</div>
<!-- NavBar  -->
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0)" style="float: right; margin-right:14%;" (click)="openNav()"><span>&#9776;</span></a>
</div>
<!-- Main Content -->
<div class="content" id="main">
  <h4>Products List</h4>

</div>
